* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

/package.json linguist-generated
/vite.config.js linguist-generated
/resources/views/app.blade.php linguist-generated
app/Http/Controllers/PageController.php linguist-generated
